#display {
  background-color: navy;
}
body{
  background-color: PowderBlue;
}
p{
  text-align: center;
  font: 400 60px 'Impact';
  letter-spacing: 5px;
  color: yellow;
  font-weight: bold;
  font-size: 70px;
}
button{
  text-align: center;
  padding: .6rem 1rem;
  border: 1px solid #995309;
  border-radius: 4px;
  background-color: #d9750b;
  color: #fff;

  font-size: 1.5rem;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
  background-image: linear-gradient(#f90 10%,#e76a00 100%);
}
